nav > img {
    width : 70px;
    height : 70px;
    margin : 10px;
}
.container {
    display : grid;
    grid-template-columns : fr; 
    grid-template-rows: 0.4fr, 0.8fr, 0.8fr, 2fr, 1fr, 1fr;
    grid-template-areas: 
        "nav"
        "banner"
        "mission"
        "images"
        "sct-end"
        "footer"
    ;
}
h1 {
    text-transform: uppercase;
}
.container > * {
    border : 1px solid black;
}
nav {
    justify-content: space-between;
    display : flex;
    grid-area: nav;
    background-color: #090909;
    align-items: center;
}
#nav-involve {
    margin : 10px;
}
nav > ul > li {
    display : inline-block;
    padding: 10px;

}
#nav-left > ul > li{
    float: left;
}
#nav-link {
    float: right;
}
#nav-left > button {
    padding : 20px;
}
#nav-donate {
    background-color : #DE3831;
}
a {
    color : #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;

}
#banner {
    grid-area : banner;
}
#banner > img{
    height: 600px;
    position : absolute;
}
#banner > h1{
    position :absolute;
    font-size : 3.1rem;
    text-align: center;
    margin-top: 20rem;
}

#sct-mission{
    grid-area : mission;
    margin-top: 38rem;
    background-color: #F6F5F2;
}
#sct-mission > h2{
    text-align: center;
    border-top : solid black;
    border-bottom: solid black;
    margin-left: 40rem;
    margin-right: 40rem;
}
#sct-images{
    grid-area : images;
    display : grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 3), 0.4fr, 1fr;
    grid-template-areas: 
        "polar-bear foxes mountain-valley mountain-valley"
        "binocs binocs peoples sun-forest-people"
        "calendar calendar honeybees honeybees"
        "helping helping helping helping"
        "turtle turtle shutterstock shutterstock"
    ;
    justify-content:center;
}
#sct-images > img{
    /*find a better solution */
    width: auto;
    margin : 0;
    padding: 0;
}
#polar-bear {
    grid-area : polar-bear;
}
#foxes{
    grid-area: foxes;
}
#mountain-valley{
    grid-area: mountain-valley;
}
#binocs{
    grid-area: binocs;
}
#peoples{
    grid-area: peoples;
}
#sun-forest-people{
    grid-area: sun-forest-people;
}
#calendar{
    grid-area: calendar;
}
#honeybees {
    grid-area : honeybees;
}
#helping {
    grid-area : helping;
}
#turtle{
    grid-area: turtle;
}
#shutterstock{
    grid-area: shutterstock;
}
.mission-goal {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}
#helping {
    text-align: center;
    border-top : solid black;
    border-bottom: solid black;
    margin-left: 40rem;
    margin-right: 40rem;
}
.mission-goal > div{
    display : inline-block;
}
.mission-goal img{
    border-radius: 50px;
}

#stc-end{
    grid-area : sct-end;
}
footer{
    grid-area: footer;
    background-color: black;
}

button {
    text-transform: uppercase;
    background-color: #D55C19;
    border : none;
    margin: 10px;
    height : 40px;
    width: 80px;
}
ul {
    list-style: none;
    padding-left: 0rem;
    padding : 0;
    margin : 0;
    padding-bottom : 2rem;
}
#white > img {
    width : 7rem;
    height : 5rem;
    display: flex;
}
#white > * {
    width: max-content;
    justify-content: space-between;
}

a > img {
    width : 2rem;
}
#white {
    background-color : white;
    display : flex;
    overflow: auto;
    
}
#login {
   margin: 1rem 0rem 0rem 90rem;
}
hr{
    background-color : white;
    height : 0.1rem;
    border : none;
    display : block;
  
   
}
h3{
    color : white;
    padding : 0px;
    margin: 0px;
    text-transform: uppercase;
}
#black-bottom{
    margin-top : 3rem;
    margin-right : 3rem;
    margin-left : 3rem;
}
#connect > ul > li {
    display : inline-flex;
}
#footer-nav {
    background-color: white;


}


#footer-nav > ul >  {
    color : black;
    display : flex;
}
#footer-nav > ul > li >a {
    color : black;
    display : inline-flex;
}
#footer-nav > ul{
    display : flex;
    justify-content: space-around;
}