* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", 'Times New Roman', Times, serif;

}
button {
    border-radius: 14px;
    padding:  1rem 2rem;
    vertical-align: middle;
    font-size: 0.7rem;
    height: 40px;
    vertical-align: baseline;
    line-height: 10px;
    font-weight: 600;
    font-size: 1rem;
    margin : auto;
    border-style: none;
    text-align: center;
} 

nav {
    display : flex;
    
    height : 10vh;
}
h2 {
    font-size: 3rem;
    color: #ffffff
}
#logo {
    size: 100rem;
}
nav * {
    display : inline-block;
}
nav > ul > li {
    display : inline-block;
}
nav > ul > li > a {
    text-decoration: none;
    color : black;
    text-transform: uppercase;
    padding : 2rem;
    
}
nav > picture {
    width: auto;
}
#hero {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
#hero video{
    width : 100%;
    height: auto;
}
#hero > h2{
    position: absolute;
    top: 15%;
    left : 50%;
    transform : translate(-50%, -50%)
}
#hero > button {
    position: absolute;
    top: 35%;
    left: 50%;
    background-color : white;
    transform : translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding : 4rem, 8rem, 4rem;
    border-radius: 20;
}
#business {
    background-color: #08206a;
    position :relative;
}
#business > div {
    text-align: center;
}
#business p {
    font-size: 1.2rem;
    color : #ffffff;
    padding : 2rem;
}
#business button {
    background-color: #ffffff;
    position : absolute;
}
main h2 {
    font-size: 1.3rem;
    color : #3dd3f9;
}
main  img {
    width : 10rem;
}

article {
    overflow: auto;
    background-color: #ffffff;
    padding : 4rem 25rem;
    display : flex;
    justify-content: space-between;
}
main > article:nth-child(odd) {
    flex-direction: row-reverse;
}
/* main > article:nth-child(odd)  {
    float : left;
    
} */
main button {
    border : #3177bc solid 1px;
    background-color: transparent;
    color : #3177bc;

}
article:nth-child(odd){
   background-color: #f3f3f7;
}

#brands {
    display:block;
    text-align: center;
}
#brands-img {
    display : flex;
    justify-content: space-around;
}
@media screen and (max-width : 597px) {
}




/* CSS */
.button-1 {
  border-radius: 8px;
 
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}